<%- include('./partials/head.ejs') %>

    <br>
    <div class="card">
        <div class="card-body">
            <p class="mb-0">Welcome to Mongoose Flights. To see a list of all flights or to create your own flight time, click the above link.</p>
            <br>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>